[submodule "github.com/gotcp"]
	path = github.com/gotcp
	url = https://github.com/gansidui/gotcp.git
[submodule "github.com/gotcp1"]
	path = github.com/gotcp1
	url = https://github.com/gansidui/gotcp.git
